{% extends "game_board/base.html" %}

{% load static %}

{% block title %}Lobby{% endblock %}

{% block body %}

<body onload = "JavaScript:AutoRefresh(2500);">
    <div class='circleBase circle2'>
        <div class='center player p1'>
            <h1>{{name}}</h1>
        </div>
        <div class='center player p2'>
            <h1>{{opponent}}</h1>
        </div>
    </div>
</body>

{% endblock %}

<!--
        <form class="center" action="/room/" method ="post" >
            {% csrf_token %}
            <input id="Ready" type=submit value="Ready">
        </form>
-->